@using Domain.Entities
@using DunkerFinal.ViewModels.Shop

@model ShopVM

<!-- Breadcrumb Navigation Start -->
<nav id="breadcrumb">
    <span><a href="./index.html">HOME</a></span>
    <span class="line">|</span>
    <span><a href="#" class="text-dark">@Model.Product.Name</a></span>
</nav>
<!-- Breadcrumb Navigation End -->
<!-- Main Start -->
<main id="main">
    <!-- Detail Product Section Start -->
    <section id="detail-product">
        <div class="row g-5">
            <div class="col-lg-6 col-12" style="width:44%;">
                <div class="image-gallery">
                    <div class="zoom-img">
                        <div class="zoomist-container">
                            <!-- zoomist-wrapper is required -->
                            <div class="zoomist-wrapper">
                                <!-- zoomist-image is required -->
                                <div class="zoomist-image"  >
                                    <img src="~/assets/img/@Model.Product.ProductImages.FirstOrDefault(m=>m.IsMain).Image"
                                         alt="Product"
                                         id="zoom-img" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-items">
                        @if (Model.Product.ProductImages.Count() > 1)
                        {
                            @foreach (var item in Model.Product.ProductImages)
                            {
                                <div class="gallery-item">
                                    <img src="~/assets/img/@Model.Product.ProductImages.FirstOrDefault(m=>m.IsMain==false).Image"
                                 alt="Product"
                                 class="gallery-img" />
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="product-content">
                    <div class="product-heading">
                        <h1>@Model.Product.Name</h1>
                        <span>$@Model.Product.Price</span>
                        <p>
                            @Model.Product.Description
                        </p>
                    </div>
                    <div class="product-actions">
                        <div class="counter">
                            <button class="decrease-product">-</button>
                            <span class="product-count">0</span>
                            <button class="increase-product">+</button>
                        </div>
                        <a href="#" class="custom-button">
                            ADD TO CART
                            <span class="basket-product">
                                <i class="fa-solid fa-basket-shopping"></i>
                            </span>
                        </a>
                        <a href="#" class="wishlist-btn">
                            <i class="fa-regular fa-heart"></i>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="share">
                            <a href="#" class="fs-5 py-5 d-inline-block">
                                <i class="fa-solid fa-square-share-nodes"></i>
                            </a>
                        </div>
                        <div class="product-stats">
                            <div class="sku">
                                <span>SKU:</span>
                                <a href="#">@Model.Product.SKU</a>
                            </div>
                            <div class="category">
                                <span>CATEGORY:</span>
                                <a href="#">@Model.Product.Category</a>
                            </div>
                            <div class="tag">
                                <span>TAG:</span>
                                <a href="#">@Model.Product.</a>
                            </div>
                            <div class="tag">
                                <span>Color:</span>
                                <a href="#">@Model.Product.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-5">
                <div class="product-description">
                    <div class="product-description-header">
                        <ul class="tab-items" id="tabItems">
                            <li class="tab-item">
                                <a href="#" class="tab-link" data-tab="description">
                                    DESCRIPTION
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#" class="tab-link" data-tab="additional-info">
                                    ADDITIONAL INFORMATION
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tabs-content pt-4" id="tabContent">
                        <div class="tab" data-tab="description">
                            <p class="fs-5">
                                @Model.Product.Description
                            </p>
                        </div>
                        <div class="tab d-none" data-tab="additional-info">
                            <div class="product-stats">
                                <div class="sku">
                                    <span>WEIGHT:</span>
                                    <a href="#">@Model.Product.Weight</a>
                                </div>
                                <div class="category">
                                    <span>DIMENSIONS:</span>
                                    <a href="#">60 × 40 × 120 cm</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="tab d-none" data-tab="reviews">
                          <div class="product-stats">
                            <div class="sku">
                              <span>dcsddw:</span>
                              <a href="#">0.4 kg</a>
                            </div>
                            <div class="category">
                              <span>DIMENSIONS:</span>
                              <a href="#">60 × 40 × 120 cm</a>
                            </div>
                          </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Detail Product Section End -->
    <!-- Related Products Section Start -->
    <section id="related-products">
        <div class="title">
            <h2>RELATED PRODUCTS</h2>
        </div>
        <div class="featured-products-container">
            <div class="row justify-content-center">
            </div>
        </div>
    </section>
    <!-- Related Products Section End -->
</main>
<!-- Main End --> 