@using Service.ViewModels.Product
@model ProductUpdateVM


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Update Slider</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="mt-3 form-group">
                    @foreach (var item in Model.Colors)
                    {
                        <div>
                            <i class="mdi mdi mdi mdi-invert-colors menu-icon" style=" font-size:30px; color:@item.ColorName"></i>
                            <a class="btn btn-danger delete-color" color-id="@item.Id">X</a>
                        </div>
                    }
                </div>
                <div class="mt-3 form-group">
                    <label asp-for="TagIds">Tags</label>
                    <select class="form-control text-black " asp-for="TagIds" asp-items="@ViewBag.Tags">
                    </select>
                    <span class="text-danger mt-2" asp-validation-for="TagIds"></span>
                </div>
                <div class="mt-3 form-group">
                    <label asp-for="ColorIds">Colors</label>
                    <select class="form-control text-black " asp-for="ColorIds" asp-items="@ViewBag.ColorsByProductId">
                    </select>
                    <span class="text-danger mt-2" asp-validation-for="ColorIds"></span>
                </div>
                <div class="mt-3 form-group">
                    <label asp-for="CategoryId">Categories</label>
                    <select class="form-control text-black " asp-for="CategoryId" asp-items="@ViewBag.Categories">
                    </select>
                    <span class="text-danger mt-2" asp-validation-for="CategoryId"></span>
                </div>
                <div class="mt-3 form-group">
                    <label asp-for="BrandId">Brands</label>
                    <select class="form-control text-black " asp-for="BrandId" asp-items="@ViewBag.Brands">
                    </select>
                    <span class="text-danger mt-2" asp-validation-for="BrandId"></span>
                </div>
                <div class="mt-3 form-group">
                    <label asp-for="Images">Images</label>
                    <input asp-for="Images" class="form-control">
                    <span class="text-danger mt-2" asp-validation-for="Images"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Title">
                    <span class="text-danger mt-2" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                    <span class="text-danger mt-2" asp-validation-for="Description"></span>
                </div>
                <div class="mt-3 form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control">
                    <span class="text-danger mt-2" asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SKU">SKU</label>
                    <input asp-for="SKU" type="text" class="form-control" placeholder="SKU">
                    <span class="text-danger mt-2" asp-validation-for="SKU"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Weight">Weight</label>
                    <input asp-for="Weight" type="text" class="form-control" placeholder="Weight">
                    <span class="text-danger mt-2" asp-validation-for="Weight"></span>
                </div>
                <div class="mt-3 form-group">
                    <label asp-for="Rating">Rating</label>
                    <input asp-for="Rating" class="form-control">
                    <span class="text-danger mt-2" asp-validation-for="Rating"></span>
                </div>
                <div class="mt-3 form-group">
                    <label asp-for="Quantity">Quantity</label>
                    <input asp-for="Quantity" class="form-control">
                    <span class="text-danger mt-2" asp-validation-for="Quantity"></span>
                </div>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <a class="btn btn-light" asp-area="Admin" asp-controller="Product" asp-action="Index">Back</a>
            </form>
        </div>
    </div>
</div>